.dados {
  margin-top: 3rem;
  display: grid;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--input-stroke);

  & .headerrrr {
    display: flex;
    margin-bottom: 2.5rem;
    align-items: center;
    gap: 0.75rem;
    & h1 {
      font: var(--heading-sm);
      color: var(--text-heading);
    }

    & img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
.contatoo {
  display: grid;
  margin-top: 1rem;
  width: 35rem;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3rem;
}
.terms-container {
  margin-top: 2.5rem;
  display: grid;
  row-gap: 0.25rem;
}
.check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  & span {
    font: var(--body-sm);
    color: var(--text-body);
  }
  & a {
    color: var(--brand-light);
    text-transform: capitalize;
  }
}
.input-terms {
  display: none;
}


.label-terms {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  display: inline-block;
  background-size: cover;
  background-image: url("../assets/icons/Frame\ 48095946.svg"); 
}


.input-terms:checked + .label-terms {
  background-image: url("../assets/icons/Frame\ 4809594611111.svg"); 
}




.submit {
  display: flex;
  margin-top: 2.5rem;
  margin-bottom: 80px;
  justify-self: end;
  align-items: center;
  gap: 0.75rem;
  border: none;
  border-radius: 8px;
  justify-content: center;
  padding: 13px;
  width: 11.06rem;
  cursor: pointer;
  height: 2.5rem;
  background-color: var(--brand-dark);
  color: var(--text-heading);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
